@font-face {
    font-family: "Inter ExtraBold";
    src: url("chrome-extension://__MSG_@@extension_id__/resources/fonts/Inter-ExtraBold.ttf");
}

@font-face {
    font-family: "Inter SemiBold";
    src: url("chrome-extension://__MSG_@@extension_id__/resources/fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "Inter Regular";
    src: url("chrome-extension://__MSG_@@extension_id__/resources/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Medium";
    src: url("chrome-extension://__MSG_@@extension_id__/resources/fonts/Inter-Medium.ttf");
}



#RPSS-AGMT-Container {
    border: 2px solid #555555;
    height: 100%;
    max-width: 860px;
    position: fixed;
    inset: 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d1117;
    color: #fff;
    font-family: "Inter ExtraBold";
    z-index: 1051;
    padding: 25px;
    font-size: 20px;
}

#RPSS-AGMT-EULA-Container {
    overflow: auto;
    padding: 12px;
    background-color: #282828;
}

#RPSS-AGMT-EULA-Container div:not(:first-child) {
    margin-top: 40px;
}

#RPSS-AGMT-EULA-Container h1 {
    font-size: 23px;
}

#RPSS-AGMT-EULA-Container h2 {
    font-family: "Inter Medium";
}

#RPSS-AGMT-EULA-Container span {
    font-family: "Inter Regular";
}

#RPSS-AGMT-Footer {
    margin-top: 25px;
    font-family: "Inter SemiBold";
}

#RPSS-AGMT-AgreeEULA {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter Medium";
}

#RPSS-AGMT-AgreeEULA div {
    display: flex;
    align-items: center;
}

#RPSS-AGMT-Agree {
    border: 2px solid #2F81F7;
    margin-right: 12px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    appearance: none;
}

#RPSS-AGMT-Agree:checked {
   background-image: url('chrome-extension://__MSG_@@extension_id__/resources/svg/check.svg');
   background-size: 17px 17px;
   background-repeat: no-repeat;
   background-position: center;
}

#RPSS-AGMT-Countdown {
    visibility: hidden;
    font-size: 16px;
    color: #ff0000;
    font-family: "Inter Medium";
    margin-top: 5px;
}

#RPSS-AGMT-EULA-Container::-webkit-scrollbar {
    width: 10px;
 }

 /* Track */
 #RPSS-AGMT-EULA-Container::-webkit-scrollbar-track {
    background: none;
 }

 /* Handle */
 #RPSS-AGMT-EULA-Container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
 }

 /* Handle on hover */
 #RPSS-AGMT-EULA-Container::-webkit-scrollbar-thumb:hover {
    background: #555;
 }

 #RPSS-AGMT-Background {
     position: fixed;
     inset: 0px;
     width: 100%;
     height: 100%;
     background-color: #00000080;
     z-index: 1049;
 }