@font-face {
    font-family: "Inter ExtraBold";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Inter-ExtraBold.ttf");
}

@font-face {
    font-family: "Inter SemiBold";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "Inter Regular";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Medium";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Inter-Medium.ttf");
}



#RPSS-AGMT-Container {
    width: 860px;
    height: 802px;
    background-color: #0D1117;
    border: 3px solid #ffffff;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1050;
    top: 50%;
    left: 50%;
}

#RPSS-AGMT-Title {
    position: relative;
    font-family: "Inter ExtraBold";
    font-size: 23px;
    top: 30px;
}

.RPSS-AGMT-Text {
    position: relative;
    font-family: "Inter Regular";
    width: 800px;
    font-size: 20px;
}

.RPSS-AGMT-EULA {
    position: relative;
    font-family: "Inter Medium";
    margin-left: 30px !important;
    font-size: 20px;
}

#RPSS-AGMT-Foot {
    position: relative;
    font-family: "Inter SemiBold";
    font-size: 20px;
    width: 800px;
    top: 270px;
}

#RPSS-AGMT-AgreeEULA {
    top: 320px;
    left: 21px;
    position: relative;
    font-family: "Inter Medium";
    color: white;
    display: table;
    margin: 0 auto;
}

#RPSS-AGMT-Agree {
    position: absolute;
    left: -40px;
    top: -1.5px;
    width: 25px;
    height: 25px;
    border: 2px solid #2F81F7;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#RPSS-AGMT-Agree:checked {
    background-image: url('chrome-extension://__MSG_@@extension_id__/svg/check.svg');
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: center;
}

#RPSS-AGMT-Countdown {
    color: red !important;
    position: relative;
    font-family: "Inter Medium";
    font-size: 16px;
    top: 330px;
}

#RPSS-AGMT-Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1049;
}

#RPSS-AGMT-Container span {
    color: white;
    display: table;
    margin: 0 auto;
}